.App {
  display: grid;
  grid-template-areas:  'search search'
                        'results playlist';
  font-family: Arial, sans-serif;
}

.search{
  grid-area: 'search';
}

.results{
  grid-area: 'results'
}

.playlist{
  grid-area: 'playlist'
}